/*
E621

OpenAPI definition for E621's API. You can find the source [here](https://github.com/DonovanDMC/E621OpenAPI)<br> This document is intended to compliment E621's existing [API Documentation](https://e621.net/help/api).<br> Note if E621's api is under attack and/or cloudflare protections are enabled, the \"Try it out\" buttons here will not work.<br> If they are not working, you can check this [Unofficial Status Page](https://status.e621.ws). 

API version: d69c34e
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi-e621-go

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TakedownsAPIService TakedownsAPI service
type TakedownsAPIService service

type ApiAddPostsToTakedownByIdsRequest struct {
	ctx context.Context
	ApiService *TakedownsAPIService
	id float32
	postIds *string
}

func (r ApiAddPostsToTakedownByIdsRequest) PostIds(postIds string) ApiAddPostsToTakedownByIdsRequest {
	r.postIds = &postIds
	return r
}

func (r ApiAddPostsToTakedownByIdsRequest) Execute() (*AddPostsToTakedownByIds200Response, *http.Response, error) {
	return r.ApiService.AddPostsToTakedownByIdsExecute(r)
}

/*
AddPostsToTakedownByIds Add Posts To Takedown By IDs

You must have the bd staff user flag.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the takedown.
 @return ApiAddPostsToTakedownByIdsRequest
*/
func (a *TakedownsAPIService) AddPostsToTakedownByIds(ctx context.Context, id float32) ApiAddPostsToTakedownByIdsRequest {
	return ApiAddPostsToTakedownByIdsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AddPostsToTakedownByIds200Response
func (a *TakedownsAPIService) AddPostsToTakedownByIdsExecute(r ApiAddPostsToTakedownByIdsRequest) (*AddPostsToTakedownByIds200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AddPostsToTakedownByIds200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TakedownsAPIService.AddPostsToTakedownByIds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/takedowns/{id}/add_by_ids.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.postIds == nil {
		return localVarReturnValue, nil, reportError("postIds is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "post_ids", r.postIds, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAddPostsToTakedownByTagsRequest struct {
	ctx context.Context
	ApiService *TakedownsAPIService
	id float32
	postTags *string
}

func (r ApiAddPostsToTakedownByTagsRequest) PostTags(postTags string) ApiAddPostsToTakedownByTagsRequest {
	r.postTags = &postTags
	return r
}

func (r ApiAddPostsToTakedownByTagsRequest) Execute() (*AddPostsToTakedownByIds200Response, *http.Response, error) {
	return r.ApiService.AddPostsToTakedownByTagsExecute(r)
}

/*
AddPostsToTakedownByTags Add Posts To Takedown By Tags

You must have the bd staff user flag.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the takedown.
 @return ApiAddPostsToTakedownByTagsRequest
*/
func (a *TakedownsAPIService) AddPostsToTakedownByTags(ctx context.Context, id float32) ApiAddPostsToTakedownByTagsRequest {
	return ApiAddPostsToTakedownByTagsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AddPostsToTakedownByIds200Response
func (a *TakedownsAPIService) AddPostsToTakedownByTagsExecute(r ApiAddPostsToTakedownByTagsRequest) (*AddPostsToTakedownByIds200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AddPostsToTakedownByIds200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TakedownsAPIService.AddPostsToTakedownByTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/takedowns/{id}/add_by_tags.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.postTags == nil {
		return localVarReturnValue, nil, reportError("postTags is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "post_tags", r.postTags, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCountMatchingPostsRequest struct {
	ctx context.Context
	ApiService *TakedownsAPIService
	id float32
	postTags *string
}

func (r ApiCountMatchingPostsRequest) PostTags(postTags string) ApiCountMatchingPostsRequest {
	r.postTags = &postTags
	return r
}

func (r ApiCountMatchingPostsRequest) Execute() (*CountMatchingPosts200Response, *http.Response, error) {
	return r.ApiService.CountMatchingPostsExecute(r)
}

/*
CountMatchingPosts Count Matching Posts

You must have the bd staff user flag.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the takedown.
 @return ApiCountMatchingPostsRequest
*/
func (a *TakedownsAPIService) CountMatchingPosts(ctx context.Context, id float32) ApiCountMatchingPostsRequest {
	return ApiCountMatchingPostsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CountMatchingPosts200Response
func (a *TakedownsAPIService) CountMatchingPostsExecute(r ApiCountMatchingPostsRequest) (*CountMatchingPosts200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CountMatchingPosts200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TakedownsAPIService.CountMatchingPosts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/takedowns/{id}/count_matching_posts.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.postTags == nil {
		return localVarReturnValue, nil, reportError("postTags is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "post_tags", r.postTags, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateTakedownRequest struct {
	ctx context.Context
	ApiService *TakedownsAPIService
	takedownEmail *string
	takedownReason *string
	takedownSource *string
	takedownInstructions *string
	takedownPostIds *[]float32
	takedownReasonHidden *bool
	takedownNotes *string
	takedownDelPostIds *[]float32
	takedownStatus *string
}

func (r ApiCreateTakedownRequest) TakedownEmail(takedownEmail string) ApiCreateTakedownRequest {
	r.takedownEmail = &takedownEmail
	return r
}

func (r ApiCreateTakedownRequest) TakedownReason(takedownReason string) ApiCreateTakedownRequest {
	r.takedownReason = &takedownReason
	return r
}

func (r ApiCreateTakedownRequest) TakedownSource(takedownSource string) ApiCreateTakedownRequest {
	r.takedownSource = &takedownSource
	return r
}

func (r ApiCreateTakedownRequest) TakedownInstructions(takedownInstructions string) ApiCreateTakedownRequest {
	r.takedownInstructions = &takedownInstructions
	return r
}

// takedown[post_ids][]&#x3D;1&amp;takedown[post_ids][]&#x3D;2
func (r ApiCreateTakedownRequest) TakedownPostIds(takedownPostIds []float32) ApiCreateTakedownRequest {
	r.takedownPostIds = &takedownPostIds
	return r
}

func (r ApiCreateTakedownRequest) TakedownReasonHidden(takedownReasonHidden bool) ApiCreateTakedownRequest {
	r.takedownReasonHidden = &takedownReasonHidden
	return r
}

// Must have the bd staff user flag to use.
func (r ApiCreateTakedownRequest) TakedownNotes(takedownNotes string) ApiCreateTakedownRequest {
	r.takedownNotes = &takedownNotes
	return r
}

// Must have the bd staff user flag to use. takedown[del_post_ids][]&#x3D;1&amp;takedown[del_post_ids][]&#x3D;2 
func (r ApiCreateTakedownRequest) TakedownDelPostIds(takedownDelPostIds []float32) ApiCreateTakedownRequest {
	r.takedownDelPostIds = &takedownDelPostIds
	return r
}

// Must have the bd staff user flag to use.
func (r ApiCreateTakedownRequest) TakedownStatus(takedownStatus string) ApiCreateTakedownRequest {
	r.takedownStatus = &takedownStatus
	return r
}

func (r ApiCreateTakedownRequest) Execute() (*Takedown, *http.Response, error) {
	return r.ApiService.CreateTakedownExecute(r)
}

/*
CreateTakedown Create Takedown

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateTakedownRequest
*/
func (a *TakedownsAPIService) CreateTakedown(ctx context.Context) ApiCreateTakedownRequest {
	return ApiCreateTakedownRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Takedown
func (a *TakedownsAPIService) CreateTakedownExecute(r ApiCreateTakedownRequest) (*Takedown, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Takedown
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TakedownsAPIService.CreateTakedown")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/takedowns.json"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.takedownEmail == nil {
		return localVarReturnValue, nil, reportError("takedownEmail is required and must be specified")
	}
	if r.takedownReason == nil {
		return localVarReturnValue, nil, reportError("takedownReason is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "takedown[email]", r.takedownEmail, "")
	if r.takedownSource != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "takedown[source]", r.takedownSource, "")
	}
	if r.takedownInstructions != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "takedown[instructions]", r.takedownInstructions, "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "takedown[reason]", r.takedownReason, "")
	if r.takedownPostIds != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "takedown[post_ids]", r.takedownPostIds, "csv")
	}
	if r.takedownReasonHidden != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "takedown[reason_hidden]", r.takedownReasonHidden, "")
	}
	if r.takedownNotes != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "takedown[notes]", r.takedownNotes, "")
	}
	if r.takedownDelPostIds != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "takedown[del_post_ids]", r.takedownDelPostIds, "csv")
	}
	if r.takedownStatus != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "takedown[status]", r.takedownStatus, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteTakedownRequest struct {
	ctx context.Context
	ApiService *TakedownsAPIService
	id float32
}

func (r ApiDeleteTakedownRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteTakedownExecute(r)
}

/*
DeleteTakedown Delete Takedown

You must have the bd staff user flag.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the takedown.
 @return ApiDeleteTakedownRequest
*/
func (a *TakedownsAPIService) DeleteTakedown(ctx context.Context, id float32) ApiDeleteTakedownRequest {
	return ApiDeleteTakedownRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *TakedownsAPIService) DeleteTakedownExecute(r ApiDeleteTakedownRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TakedownsAPIService.DeleteTakedown")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/takedowns/{id}.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEditTakedownRequest struct {
	ctx context.Context
	ApiService *TakedownsAPIService
	id float32
	takedownNotes *string
	takedownReasonHidden *bool
	takedownPosts *string
	processTakedown *bool
	deleteReason *string
}

func (r ApiEditTakedownRequest) TakedownNotes(takedownNotes string) ApiEditTakedownRequest {
	r.takedownNotes = &takedownNotes
	return r
}

func (r ApiEditTakedownRequest) TakedownReasonHidden(takedownReasonHidden bool) ApiEditTakedownRequest {
	r.takedownReasonHidden = &takedownReasonHidden
	return r
}

func (r ApiEditTakedownRequest) TakedownPosts(takedownPosts string) ApiEditTakedownRequest {
	r.takedownPosts = &takedownPosts
	return r
}

// If not truthy, the takedown will be denied.
func (r ApiEditTakedownRequest) ProcessTakedown(processTakedown bool) ApiEditTakedownRequest {
	r.processTakedown = &processTakedown
	return r
}

func (r ApiEditTakedownRequest) DeleteReason(deleteReason string) ApiEditTakedownRequest {
	r.deleteReason = &deleteReason
	return r
}

func (r ApiEditTakedownRequest) Execute() (*http.Response, error) {
	return r.ApiService.EditTakedownExecute(r)
}

/*
EditTakedown Edit Takedown

You must have the bd staff user flag.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the takedown.
 @return ApiEditTakedownRequest
*/
func (a *TakedownsAPIService) EditTakedown(ctx context.Context, id float32) ApiEditTakedownRequest {
	return ApiEditTakedownRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *TakedownsAPIService) EditTakedownExecute(r ApiEditTakedownRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TakedownsAPIService.EditTakedown")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/takedowns/{id}.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.takedownNotes != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "takedown[notes]", r.takedownNotes, "")
	}
	if r.takedownReasonHidden != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "takedown[reason_hidden]", r.takedownReasonHidden, "")
	}
	if r.takedownPosts != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "takedown_posts", r.takedownPosts, "")
	}
	if r.processTakedown != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "process_takedown", r.processTakedown, "")
	}
	if r.deleteReason != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "delete_reason", r.deleteReason, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetTakedownRequest struct {
	ctx context.Context
	ApiService *TakedownsAPIService
	id float32
}

func (r ApiGetTakedownRequest) Execute() (*Takedown, *http.Response, error) {
	return r.ApiService.GetTakedownExecute(r)
}

/*
GetTakedown Get Takedown

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the takedown.
 @return ApiGetTakedownRequest
*/
func (a *TakedownsAPIService) GetTakedown(ctx context.Context, id float32) ApiGetTakedownRequest {
	return ApiGetTakedownRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Takedown
func (a *TakedownsAPIService) GetTakedownExecute(r ApiGetTakedownRequest) (*Takedown, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Takedown
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TakedownsAPIService.GetTakedown")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/takedowns/{id}.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemovePostsFromTakedownByIdsRequest struct {
	ctx context.Context
	ApiService *TakedownsAPIService
	id float32
	postIds *string
}

func (r ApiRemovePostsFromTakedownByIdsRequest) PostIds(postIds string) ApiRemovePostsFromTakedownByIdsRequest {
	r.postIds = &postIds
	return r
}

func (r ApiRemovePostsFromTakedownByIdsRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemovePostsFromTakedownByIdsExecute(r)
}

/*
RemovePostsFromTakedownByIds Remove Posts From Takedown By IDs

You must have the bd staff user flag.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the takedown.
 @return ApiRemovePostsFromTakedownByIdsRequest
*/
func (a *TakedownsAPIService) RemovePostsFromTakedownByIds(ctx context.Context, id float32) ApiRemovePostsFromTakedownByIdsRequest {
	return ApiRemovePostsFromTakedownByIdsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *TakedownsAPIService) RemovePostsFromTakedownByIdsExecute(r ApiRemovePostsFromTakedownByIdsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TakedownsAPIService.RemovePostsFromTakedownByIds")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/takedowns/{id}/remove_by_ids.json"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.postIds == nil {
		return nil, reportError("postIds is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "post_ids", r.postIds, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSearchTakedownsRequest struct {
	ctx context.Context
	ApiService *TakedownsAPIService
	limit *float32
	page *float32
	searchId *float32
	searchIpAddr *string
	searchOrder *string
	searchStatus *string
	searchSource *string
	searchReason *string
	searchCreatorId *float32
	searchCreatorName *string
	searchReasonHidden *bool
	searchInstructions *string
	searchPostId *float32
	searchNotes *string
	searchEmail *string
	searchVericode *string
}

// The maximum number of results to return. Between 0 and 320.
func (r ApiSearchTakedownsRequest) Limit(limit float32) ApiSearchTakedownsRequest {
	r.limit = &limit
	return r
}

// The page number of results to get. Between 1 and 750.
func (r ApiSearchTakedownsRequest) Page(page float32) ApiSearchTakedownsRequest {
	r.page = &page
	return r
}

// Search for a specific id.
func (r ApiSearchTakedownsRequest) SearchId(searchId float32) ApiSearchTakedownsRequest {
	r.searchId = &searchId
	return r
}

// Must be Admin+ to use. See [postgres&#39; documentation](https://www.postgresql.org/docs/9.3/functions-net.html) for information on how this is parsed. Specifically, \&quot;is contained within or equals\&quot; (&#x60;&lt;&lt;&#x3D;&#x60;).
func (r ApiSearchTakedownsRequest) SearchIpAddr(searchIpAddr string) ApiSearchTakedownsRequest {
	r.searchIpAddr = &searchIpAddr
	return r
}

func (r ApiSearchTakedownsRequest) SearchOrder(searchOrder string) ApiSearchTakedownsRequest {
	r.searchOrder = &searchOrder
	return r
}

func (r ApiSearchTakedownsRequest) SearchStatus(searchStatus string) ApiSearchTakedownsRequest {
	r.searchStatus = &searchStatus
	return r
}

// Must be Moderator+ to use.
func (r ApiSearchTakedownsRequest) SearchSource(searchSource string) ApiSearchTakedownsRequest {
	r.searchSource = &searchSource
	return r
}

// Must be Moderator+ to use.
func (r ApiSearchTakedownsRequest) SearchReason(searchReason string) ApiSearchTakedownsRequest {
	r.searchReason = &searchReason
	return r
}

// Must be Moderator+ to use.
func (r ApiSearchTakedownsRequest) SearchCreatorId(searchCreatorId float32) ApiSearchTakedownsRequest {
	r.searchCreatorId = &searchCreatorId
	return r
}

// Must be Moderator+ to use.
func (r ApiSearchTakedownsRequest) SearchCreatorName(searchCreatorName string) ApiSearchTakedownsRequest {
	r.searchCreatorName = &searchCreatorName
	return r
}

// Must be Moderator+ to use.
func (r ApiSearchTakedownsRequest) SearchReasonHidden(searchReasonHidden bool) ApiSearchTakedownsRequest {
	r.searchReasonHidden = &searchReasonHidden
	return r
}

// Must be Moderator+ to use.
func (r ApiSearchTakedownsRequest) SearchInstructions(searchInstructions string) ApiSearchTakedownsRequest {
	r.searchInstructions = &searchInstructions
	return r
}

// Must be Moderator+ to use.
func (r ApiSearchTakedownsRequest) SearchPostId(searchPostId float32) ApiSearchTakedownsRequest {
	r.searchPostId = &searchPostId
	return r
}

// Must be Moderator+ to use.
func (r ApiSearchTakedownsRequest) SearchNotes(searchNotes string) ApiSearchTakedownsRequest {
	r.searchNotes = &searchNotes
	return r
}

// Must be Admin+ to use.
func (r ApiSearchTakedownsRequest) SearchEmail(searchEmail string) ApiSearchTakedownsRequest {
	r.searchEmail = &searchEmail
	return r
}

// Must be Admin+ to use.
func (r ApiSearchTakedownsRequest) SearchVericode(searchVericode string) ApiSearchTakedownsRequest {
	r.searchVericode = &searchVericode
	return r
}

func (r ApiSearchTakedownsRequest) Execute() (*SearchTakedowns200Response, *http.Response, error) {
	return r.ApiService.SearchTakedownsExecute(r)
}

/*
SearchTakedowns Search Takedowns

When no results are found, an object with an `takedowns` key is returned.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchTakedownsRequest
*/
func (a *TakedownsAPIService) SearchTakedowns(ctx context.Context) ApiSearchTakedownsRequest {
	return ApiSearchTakedownsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchTakedowns200Response
func (a *TakedownsAPIService) SearchTakedownsExecute(r ApiSearchTakedownsRequest) (*SearchTakedowns200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchTakedowns200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TakedownsAPIService.SearchTakedowns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/takedowns.json"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.searchId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[id]", r.searchId, "")
	}
	if r.searchIpAddr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[ip_addr]", r.searchIpAddr, "")
	}
	if r.searchOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[order]", r.searchOrder, "")
	}
	if r.searchStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[status]", r.searchStatus, "")
	}
	if r.searchSource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[source]", r.searchSource, "")
	}
	if r.searchReason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[reason]", r.searchReason, "")
	}
	if r.searchCreatorId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[creator_id]", r.searchCreatorId, "")
	}
	if r.searchCreatorName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[creator_name]", r.searchCreatorName, "")
	}
	if r.searchReasonHidden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[reason_hidden]", r.searchReasonHidden, "")
	}
	if r.searchInstructions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[instructions]", r.searchInstructions, "")
	}
	if r.searchPostId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[post_id]", r.searchPostId, "")
	}
	if r.searchNotes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[notes]", r.searchNotes, "")
	}
	if r.searchEmail != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[email]", r.searchEmail, "")
	}
	if r.searchVericode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search[vericode]", r.searchVericode, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
