openapi: 3.1.0
info:
  contact:
    name: Donovan_DMC
    url: https://e621.net/forum_topics/46279
  description: |
    OpenAPI definition for E621's API. You can find the source [here](https://github.com/DonovanDMC/E621OpenAPI)<br>
    This document is intended to compliment E621's existing [API Documentation](https://e621.net/help/api).<br>
    Note if E621's api is under attack and/or cloudflare protections are enabled, the "Try it out" buttons here will not work.<br>
    If they are not working, you can check this [Unofficial Status Page](https://status.e621.ws).
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: E621
  version: d69c34e
servers:
- description: E621 (production)
  url: https://e621.net
- description: E621 (Development)
  url: http://localhost:3000
paths:
  /artists.json:
    get:
      operationId: searchArtists
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          - updated_at
          - name
          - post_count
          type: string
        style: form
      - explode: true
        in: query
        name: "search[name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[group_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[any_other_name_like]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[any_name_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[any_name_or_url_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[url_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[creator_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[creator_id]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[has_tag]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[is_linked]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/searchArtists_200_response_inner'
                type: array
          description: Success
      summary: Search Artists
      tags:
      - Artists
    post:
      description: |
        `other_names` & `urls` are silently truncated to 25 entries.
        `notes` is silently truncated to the wiki page limit (250,000).
        Individual `other_names` are silently truncated to 100 characters.
      operationId: createArtist
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createArtist_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artist'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Artist
      tags:
      - Artists
  /artists/{idOrName}.json:
    delete:
      description: |
        You must be an Admin+ to delete an artist.
      operationId: deleteArtist
      parameters:
      - description: The ID or name of the artist to edit.
        explode: false
        in: path
        name: idOrName
        required: true
        schema:
          $ref: '#/components/schemas/getArtist_idOrName_parameter'
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete Artist
      tags:
      - Artists
    get:
      operationId: getArtist
      parameters:
      - description: The ID or name of the artist to get.
        explode: false
        in: path
        name: idOrName
        required: true
        schema:
          $ref: '#/components/schemas/getArtist_idOrName_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getArtist_200_response'
          description: Success
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get Artist
      tags:
      - Artists
    patch:
      description: |
        If an artist is locked, you must be Janitor+ to edit them.
        `other_names` & `urls` are silently truncated to 25 entries.
        `notes` is silently truncated to the wiki page limit (250,000).
        Individual `other_names` are silently truncated to 100 characters.
        If an artist is on the avoid posting list, you must have the bd staff user flag to edit name, other_names, or group_name.
      operationId: editArtist
      parameters:
      - description: The ID or name of the artist to edit.
        explode: false
        in: path
        name: idOrName
        required: true
        schema:
          $ref: '#/components/schemas/getArtist_idOrName_parameter'
        style: simple
      requestBody:
        content:
          application/c-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/editArtist_request'
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Edit Artist
      tags:
      - Artists
  /artists/{idOrName}/revert.json:
    put:
      description: |
        If an artist is locked, you must be Janitor+ to revert them.
      operationId: revertArtist
      parameters:
      - description: The ID or name of the artist to revert.
        explode: false
        in: path
        name: idOrName
        required: true
        schema:
          $ref: '#/components/schemas/getArtist_idOrName_parameter'
        style: simple
      - description: The version ID to revert to.
        explode: true
        in: query
        name: version_id
        required: true
        schema:
          type: number
        style: form
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Revert Artist
      tags:
      - Artists
  /artist_versions.json:
    get:
      description: "When no results are found, an object with an `artist_versions`\
        \ key is returned."
      operationId: searchArtistVersions
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/ip_addr'
      - description: The order of the results.
        explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          - name
          type: string
        style: form
      - description: The name of the artist.
        explode: true
        in: query
        name: "search[name]"
        required: false
        schema:
          type: string
        style: form
      - description: The id of the artist.
        explode: true
        in: query
        name: "search[artist_id]"
        required: false
        schema:
          type: string
        style: form
      - description: The name of the user that updated the artist.
        explode: true
        in: query
        name: "search[updater_name]"
        required: false
        schema:
          type: string
        style: form
      - description: The id of the user that updated the artist.
        explode: true
        in: query
        name: "search[updater_id]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchArtistVersions_200_response'
          description: Success
      summary: Search Artist Versions
      tags:
      - Artist Versions
  /artist_urls.json:
    get:
      operationId: searchArtistUrls
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - description: The order of the results.
        explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id
          - id_asc
          - id_desc
          - artist_id
          - artist_id_asc
          - artist_id_desc
          - url
          - url_asc
          - url_desc
          - normalized_url
          - normalized_url_asc
          - normalized_url_desc
          - created_at
          - created_at_asc
          - created_at_desc
          - updated_at
          - updated_at_asc
          - updated_at_desc
          type: string
        style: form
      - description: The name of the artist.
        explode: true
        in: query
        name: "search[artist_name]"
        required: false
        schema:
          type: string
        style: form
      - description: The id of the artist.
        explode: true
        in: query
        name: "search[artist_id]"
        required: false
        schema:
          type: string
        style: form
      - description: If the artist url is active.
        explode: true
        in: query
        name: "search[is_active]"
        required: false
        schema:
          type: boolean
        style: form
      - description: The url.
        explode: true
        in: query
        name: "search[url]"
        required: false
        schema:
          type: string
        style: form
      - description: "The normalized url. (http:, trailing `/`)"
        explode: true
        in: query
        name: "search[normalized_url]"
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: Legacy nested search for artist. Supports the same parameters
          as /artists.json.
        explode: true
        in: query
        name: "search[artist]"
        required: false
        schema:
          type: object
        style: form
      - deprecated: true
        description: "Legacy name for `search[url]`."
        explode: true
        in: query
        name: "search[url_matches]"
        required: false
        schema:
          type: string
        style: form
      - deprecated: true
        description: "Legacy name for `search[normalized_url]`."
        explode: true
        in: query
        name: "search[normalized_url_matches]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/searchArtistUrls_200_response_inner'
                type: array
          description: Success
      summary: Search Artist URLs
      tags:
      - Artist URLs
  /avoid_postings.json:
    get:
      description: "When no results are found, an object with an `avoid_postings`\
        \ key is returned."
      operationId: searchAvoidPostings
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/ip_addr'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          type: string
        style: form
      - explode: true
        in: query
        name: "search[creator_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[creator_id]"
        required: false
        schema:
          type: string
        style: form
      - description: Any name matching.
        explode: true
        in: query
        name: "search[any_name_matches]"
        required: false
        schema:
          type: string
        style: form
      - description: The artist name of the avoid posting entry.
        explode: true
        in: query
        name: "search[artist_name]"
        required: false
        schema:
          type: string
        style: form
      - description: The artist id for the avoid posting entry.
        explode: true
        in: query
        name: "search[artist_id]"
        required: false
        schema:
          type: string
        style: form
      - description: Any other name matching.
        explode: true
        in: query
        name: "search[any_other_name_matches]"
        required: false
        schema:
          type: string
        style: form
      - description: The details of the avoid posting entry.
        explode: true
        in: query
        name: "search[details]"
        required: false
        schema:
          type: string
        style: form
      - description: The staff notes on the avoid posting entry. Must be Janitor+
          to use.
        explode: true
        in: query
        name: "search[staff_notes]"
        required: false
        schema:
          type: string
        style: form
      - description: If the avoid posting entry is active.
        explode: true
        in: query
        name: "search[is_active]"
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchAvoidPostings_200_response'
          description: Success
      summary: Search Avoid Posting Entries
      tags:
      - Avoid Posting Entries
    post:
      description: "Must have the bd staff user flag. When no results are found, an\
        \ object with an `avoid_posting_versions` key is returned."
      operationId: createAvoidPosting
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createAvoidPosting_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvoidPosting'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Avoid Posting Entry
      tags:
      - Avoid Posting Entries
  /avoid_postings/{idOrArtistName}.json:
    delete:
      description: Must have the bd staff user flag.
      operationId: destroyAvoidPosting
      parameters:
      - description: "The ID of the avoid posting entry, or the name of the artist."
        explode: false
        in: path
        name: idOrArtistName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Destroy Avoid Posting Entry
      tags:
      - Avoid Posting Entries
    get:
      operationId: getAvoidPosting
      parameters:
      - description: "The ID of the avoid posting entry, or the name of the artist."
        explode: false
        in: path
        name: idOrArtistName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvoidPosting'
          description: Success
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get Avoid Posting Entry
      tags:
      - Avoid Posting Entries
    patch:
      description: Must have the bd staff user flag.
      operationId: editAvoidPosting
      parameters:
      - description: "The ID of the avoid posting entry, or the name of the artist."
        explode: false
        in: path
        name: idOrArtistName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/editAvoidPosting_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvoidPosting'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Edit Avoid Posting Entry
      tags:
      - Avoid Posting Entries
  /avoid_postings/{idOrArtistName}/delete.json:
    put:
      description: Must have the bd staff user flag.
      operationId: deleteAvoidPosting
      parameters:
      - description: "The ID of the avoid posting entry, or the name of the artist."
        explode: false
        in: path
        name: idOrArtistName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete Avoid Posting Entry
      tags:
      - Avoid Posting Entries
  /avoid_postings/{idOrArtistName}/undelete.json:
    put:
      description: Must have the bd staff user flag.
      operationId: undeleteAvoidPosting
      parameters:
      - description: "The ID of the avoid posting entry, or the name of the artist."
        explode: false
        in: path
        name: idOrArtistName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Undelete Avoid Posting Entry
      tags:
      - Avoid Posting Entries
  /avoid_posting_versions.json:
    get:
      operationId: searchAvoidPostingVersions
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/ip_addr'
      - description: The order of the results.
        explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          type: string
        style: form
      - description: The name of the updater of the avoid posting entry.
        explode: true
        in: query
        name: "search[updater_name]"
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the updater of the avoid posting entry.
        explode: true
        in: query
        name: "search[updater_id]"
        required: false
        schema:
          type: string
        style: form
      - description: Any name matching.
        explode: true
        in: query
        name: "search[any_name_matches]"
        required: false
        schema:
          type: string
        style: form
      - description: The artist name of the avoid posting entry.
        explode: true
        in: query
        name: "search[artist_name]"
        required: false
        schema:
          type: string
        style: form
      - description: The artist id for the avoid posting entry.
        explode: true
        in: query
        name: "search[artist_id]"
        required: false
        schema:
          type: string
        style: form
      - description: Any other name matching.
        explode: true
        in: query
        name: "search[any_other_name_matches]"
        required: false
        schema:
          type: string
        style: form
      - description: Any other name matching.
        explode: true
        in: query
        name: "search[group_name]"
        required: false
        schema:
          type: string
        style: form
      - description: If the avoid posting entry is active.
        explode: true
        in: query
        name: "search[is_active]"
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchAvoidPostingVersions_200_response'
          description: Success
      summary: Search Avoid Posting Versions
      tags:
      - Avoid Posting Versions
  /bans.json:
    get:
      description: "When no results are found, an object with an `bans` key is returned."
      operationId: searchBans
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - description: The order of the results.
        explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          - expires_at_desc
          type: string
        style: form
      - description: The ID of the banner.
        explode: true
        in: query
        name: "search[banner_id]"
        required: false
        schema:
          type: string
        style: form
      - description: The name of banner.
        explode: true
        in: query
        name: "search[banner_name]"
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the banned user.
        explode: true
        in: query
        name: "search[user_id]"
        required: false
        schema:
          type: string
        style: form
      - description: The name of the banned user.
        explode: true
        in: query
        name: "search[user_name]"
        required: false
        schema:
          type: string
        style: form
      - description: The reason of the ban.
        explode: true
        in: query
        name: "search[reason_matches]"
        required: false
        schema:
          type: string
        style: form
      - description: If the ban is expired.
        explode: true
        in: query
        name: "search[expired]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchBans_200_response'
          description: Success
      summary: Search Bans
      tags:
      - Bans
  /bans/{id}.json:
    get:
      operationId: getBan
      parameters:
      - description: The ID of the ban to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ban'
          description: Success
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get Ban
      tags:
      - Bans
  /blips.json:
    get:
      description: "When no results are found, an object with an `blips` key is returned."
      operationId: searchBlips
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/ip_addr'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          - updated_at
          - updated_at_desc
          type: string
        style: form
      - explode: true
        in: query
        name: "search[creator_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[creator_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[body_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[response_to]"
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchBlips_200_response'
          description: Success
      summary: Search Blips
      tags:
      - Blips
    post:
      operationId: createBlip
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createBlip_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blip'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Blip
      tags:
      - Blips
  /blips/{id}.json:
    delete:
      description: |
        You must be Admin+.
      operationId: deleteBlip
      parameters:
      - description: The ID of the blip.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete Blip
      tags:
      - Blips
    get:
      operationId: getBlip
      parameters:
      - description: The ID of the blip to get.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Blip'
                type: array
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get Blip
      tags:
      - Blips
    patch:
      description: "Unless Admin+, blips cannot be edited after 5 minutes. Marked\
        \ blips cannot be edited."
      operationId: editBlip
      parameters:
      - description: The ID of the blip.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/editBlip_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blip'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Edit Blip
      tags:
      - Blips
  /blips/{id}/hide.json:
    post:
      description: |
        You must be the creator or Moderator+.
      operationId: hideBlip
      parameters:
      - description: The ID of the blip.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blip'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Hide Blip
      tags:
      - Blips
  /blips/{id}/unhide.json:
    post:
      description: |
        You must be Moderator+.
      operationId: unhideBlip
      parameters:
      - description: The ID of the blip.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blip'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Unhide Blip
      tags:
      - Blips
  /blips/{id}/warning.json:
    post:
      description: You must be Moderator+.
      operationId: markBlip
      parameters:
      - description: The ID of the blip.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/warning'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTextResponse'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Mark Blip
      tags:
      - Blips
  /bulk_update_requests.json:
    get:
      description: "When no results are found, an object with an `bulk_update_requests`\
        \ key is returned."
      operationId: searchBulkUpdateRequests
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          - status_desc
          - updated_at_desc
          - updated_at_asc
          type: string
        style: form
      - explode: true
        in: query
        name: "search[user_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[user_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[approver_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[approver_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[forum_topic_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[forum_post_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[status]"
        required: false
        schema:
          description: Multiple can be specified via comma separating.
          enum:
          - approved
          - rejected
          - pending
          type: string
        style: form
      - explode: true
        in: query
        name: "search[title_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[script_matches]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchBulkUpdateRequests_200_response'
          description: Success
      summary: Search Bulk Update Requests
      tags:
      - Bulk Update Requests
    post:
      operationId: createBulkUpdateRequest
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createBulkUpdateRequest_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpdateRequest'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Bulk Update Request
      tags:
      - Bulk Update Requests
  /bulk_update_request/{id}.json:
    delete:
      description: "You must be the creator of the BUR, or Admin+."
      operationId: rejectBulkUpdateRequest
      parameters:
      - description: The ID of the bulk update request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Reject Bulk Update Request
      tags:
      - Bulk Update Requests
    get:
      operationId: getBulkUpdateRequest
      parameters:
      - description: The ID of the bulk update request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpdateRequest'
          description: Success
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get Bulk Update Request
      tags:
      - Bulk Update Requests
    patch:
      description: "You must be the creator of the BUR, or Admin+."
      operationId: editBulkUpdateRequest
      parameters:
      - description: The ID of the bulk update request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/editBulkUpdateRequest_request'
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Edit Bulk Update Request
      tags:
      - Bulk Update Requests
  /bulk_update_request/{id}/approve.json:
    post:
      description: Must be Admin+.
      operationId: approveBulkUpdateRequest
      parameters:
      - description: The ID of the bulk update request.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Approve Bulk Update Request
      tags:
      - Bulk Update Requests
  /comments.json:
    get:
      description: "For searching comments, group_by=comment must be set. When no\
        \ results are found, an object with an `comments` key is returned."
      operationId: searchComments
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/ip_addr'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          - status
          - status_desc
          - updated_at_desc
          type: string
        style: form
      - explode: true
        in: query
        name: group_by
        required: false
        schema:
          enum:
          - comment
          - post
          type: string
        style: form
      - explode: true
        in: query
        name: "search[body_matches]"
        required: false
        schema:
          type: string
        style: form
      - description: Accepts a comma separated list.
        explode: true
        in: query
        name: "search[post_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[post_tags_match]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[post_note_updater_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[post_note_updater_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[creator_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[creator_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[is_sticky]"
        required: false
        schema:
          type: boolean
        style: form
      - description: Only usable by Moderator+
        explode: true
        in: query
        name: "search[is_hidden]"
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: "search[do_not_bump_post]"
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchComments_200_response'
          description: Success
      summary: Search Comments
      tags:
      - Comments
    post:
      operationId: createComment
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createComment_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Comment
      tags:
      - Comments
  /comments/{id}.json:
    delete:
      description: |
        You must be Admin+.
      operationId: deleteComment
      parameters:
      - description: The ID of the comment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete Comment
      tags:
      - Comments
    get:
      description: "If the comment is hidden, you must be the creator or Moderator+\
        \ to see it."
      operationId: getComment
      parameters:
      - description: The ID of the comment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get Comment
      tags:
      - Comments
    patch:
      description: |
        You must be the creator of the comment, or Admin+ to edit. Marked comments cannot be edited.
      operationId: editComment
      parameters:
      - description: The ID of the comment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/editComment_request'
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Edit Comment
      tags:
      - Comments
  /comments/{id}/hide.json:
    post:
      description: |
        You must be the creator or Moderator+.
      operationId: hideComment
      parameters:
      - description: The ID of the comment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Hide Comment
      tags:
      - Comments
  /comments/{id}/unhide.json:
    post:
      description: |
        You must be Moderator+.
      operationId: unhideComment
      parameters:
      - description: The ID of the comment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Unhide Comment
      tags:
      - Comments
  /comments/{id}/warning.json:
    post:
      description: You must be Moderator+.
      operationId: markComment
      parameters:
      - description: The ID of the comment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/warning'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTextResponse'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Mark Comment
      tags:
      - Comments
  /comments/{id}/votes.json:
    delete:
      operationId: deleteCommentVote
      parameters:
      - description: The ID of the comment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Delete Comment Vote
      tags:
      - Comment Votes
    post:
      operationId: createCommentVote
      parameters:
      - description: The ID of the comment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: score
        required: true
        schema:
          enum:
          - -1
          - 1
          type: number
        style: form
      - explode: true
        in: query
        name: no_unvote
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCommentVote_200_response'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Comment Vote
      tags:
      - Comment Votes
  /comment_votes/lock.json:
    post:
      description: |
        You must be Moderator+. Errors if ids is not provided.
      operationId: lockCommentVotes
      parameters:
      - description: "The IDs of the comment votes, comma separated."
        explode: true
        in: query
        name: ids
        required: true
        schema:
          type: string
        style: form
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Lock Comment Votes
      tags:
      - Comment Votes
  /comment_votes/delete.json:
    post:
      description: |
        You must be Admin+. Errors if ids is not provided.
      operationId: deleteCommentVotes
      parameters:
      - description: "The IDs of the comment votes, comma separated."
        explode: true
        in: query
        name: ids
        required: true
        schema:
          type: string
        style: form
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
      security:
      - basicAuth: []
      summary: Delete Comment Vote
      tags:
      - Comment Votes
  /dmails.json:
    get:
      description: "When no results are found, an object with a `dmails` key is returned."
      operationId: searchDMails
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - explode: true
        in: query
        name: "search[title_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[message_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[to_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[to_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[from_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[from_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[is_read]"
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: "search[is_deleted]"
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: "search[read]"
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchDMails_200_response'
          description: Success
      summary: Search DMails
      tags:
      - DMails
  /dmails/{id}.json:
    delete:
      description: Deleting simply hides your copy of the dmail.
      operationId: deleteDMail
      parameters:
      - description: The ID of the dmail.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete DMail
      tags:
      - DMails
    get:
      description: Fetching a dmail will not mark it as read.
      operationId: getDMail
      parameters:
      - description: The ID of the dmail.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DMail'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get DMail
      tags:
      - DMails
  /dmails/{id}/mark_as_read.json:
    put:
      operationId: markDMailAsRead
      parameters:
      - description: The ID of the dmail.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Mark DMail As Read
      tags:
      - DMails
  /dmails/{id}/mark_as_unread.json:
    put:
      operationId: markDMailAsUnread
      parameters:
      - description: The ID of the dmail.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Mark DMail As Unread
      tags:
      - DMails
  /dmails/mark_all_as_unread.json:
    put:
      operationId: markAllDMailsAsUnread
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Mark All DMails As Unread
      tags:
      - DMails
  /dtext_preview.json:
    post:
      description: "Note while this route does not require auth, without auth it requires\
        \ a CSRF token. For that reason it has been marked as requiring auth."
      operationId: previewDText
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/previewDText_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTextResponse'
          description: Success
      security:
      - basicAuth: []
      summary: Preview DText
      tags:
      - DText
  /email_blacklists.json:
    get:
      description: "You must be Admin+. When no results are found, an object with\
        \ an `email_blacklists` key is returned."
      operationId: searchEmailBlacklists
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          - reason
          - domain
          type: string
        style: form
      - explode: true
        in: query
        name: "search[domain]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[reason]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchEmailBlacklists_200_response'
          description: Success
      summary: Search Email Blacklists
      tags:
      - Email Blacklists
    post:
      description: You must be Admin+.
      operationId: createEmailBlacklist
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createEmailBlacklist_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailBlacklist'
          description: Success
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Email Blacklist
      tags:
      - Email Blacklists
  /email_blacklists/{id}.json:
    delete:
      description: You must be Admin+.
      operationId: deleteEmailBlacklist
      parameters:
      - description: The ID of the email blacklist.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete Email Blacklist
      tags:
      - Email Blacklists
  /favorites.json:
    get:
      operationId: listFavorites
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - description: You must be the user or Moderator+ if the user has their favorites
          hidden.
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listFavorites_200_response'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: List Favorites
      tags:
      - Favorites
    post:
      operationId: addFavorite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addFavorite_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addFavorite_201_response'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Add Favorite
      tags:
      - Favorites
  /favorites/{id}.json:
    delete:
      operationId: removeFavorite
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Remove Favorite
      tags:
      - Favorites
  /forum_posts.json:
    get:
      description: "When no results are found, an object with an `forum_posts` key\
        \ is returned."
      operationId: searchForumPosts
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          type: string
        style: form
      - explode: true
        in: query
        name: "search[creator_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[creator_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[topic_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[topic_title_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[body_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[topic_category_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[is_hidden]"
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchForumPosts_200_response'
          description: Success
      summary: Search Forum Posts
      tags:
      - Forum Posts
    post:
      operationId: createForumPost
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createForumPost_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPost'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Forum Post
      tags:
      - Forum Posts
  /forum_posts/{id}.json:
    delete:
      description: You must be Admin+.
      operationId: deleteForumPost
      parameters:
      - description: The ID of the forum post.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete Forum Post
      tags:
      - Forum Posts
    get:
      description: "If the forum post is hidden, you must be the creator or Moderator+\
        \ to see it."
      operationId: getForumPost
      parameters:
      - description: The ID of the forum post.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPost'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get Forum Post
      tags:
      - Forum Posts
    patch:
      description: "You must be the creator of the forum post, or Admin+ to edit.\
        \ Marked forum posts cannot be edited."
      operationId: editForumPost
      parameters:
      - description: The ID of the forum post.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/editForumPost_request'
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Edit Forum Post
      tags:
      - Forum Posts
  /forum_posts/{id}/hide.json:
    post:
      description: You must be the creator or Moderator+.
      operationId: hideForumPost
      parameters:
      - description: The ID of the forum post.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPost'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Hide Forum Post
      tags:
      - Forum Posts
  /forum_posts/{id}/unhide.json:
    post:
      description: You must be Moderator+.
      operationId: unhideForumPost
      parameters:
      - description: The ID of the forum post.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPost'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Unhide Forum Post
      tags:
      - Forum Posts
  /forum_posts/{id}/warning.json:
    post:
      description: |
        You must be Moderator+.
      operationId: markForumPost
      parameters:
      - description: The ID of the forum post.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/warning'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTextResponse'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Mark Forum Post
      tags:
      - Forum Posts
  /forum_posts/{id}/votes.json:
    delete:
      operationId: deleteForumPostVote
      parameters:
      - description: The ID of the forum post.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Delete Forum Post Vote
      tags:
      - Forum Post Votes
    post:
      operationId: createForumPostVote
      parameters:
      - description: The ID of the forum post.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createForumPostVote_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostVote'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Forum Post Vote
      tags:
      - Forum Post Votes
  /forum_topics.json:
    get:
      operationId: searchForumTopics
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          - sticky
          type: string
        style: form
      - explode: true
        in: query
        name: "search[title]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[title_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[category_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[is_sticky]"
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: "search[is_locked]"
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: "search[is_hidden]"
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ForumTopic'
                type: array
          description: Success
      summary: Search Forum Topics
      tags:
      - Forum Topics
    post:
      operationId: createForumTopic
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createForumTopic_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopic'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Forum Topic
      tags:
      - Forum Topics
  /forum_topics/{id}.json:
    delete:
      description: You must be Admin+.
      operationId: deleteForumTopic
      parameters:
      - description: The ID of the forum topic.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete Forum Topic
      tags:
      - Forum Topics
    get:
      description: "If the forum topic is hidden, you must be the creator or Moderator+\
        \ to see it."
      operationId: getForumTopic
      parameters:
      - description: The ID of the forum topic.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopic'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get Forum Forum Topic
      tags:
      - Forum Topics
    patch:
      operationId: editForumTopic
      parameters:
      - description: The ID of the forum topic.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/editForumTopic_request'
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Edit Forum Topic
      tags:
      - Forum Topics
  /forum_topics/{id}/hide.json:
    post:
      description: You must be the creator or Moderator+.
      operationId: hideForumTopic
      parameters:
      - description: The ID of the forum topic.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopic'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Hide Forum Topic
      tags:
      - Forum Topics
  /forum_topics/{id}/unhide.json:
    post:
      description: You must be Moderator+.
      operationId: unhideForumTopic
      parameters:
      - description: The ID of the forum topic.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopic'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Unhide Forum Topic
      tags:
      - Forum Topics
  /forum_topics/{id}/subscribe.json:
    post:
      operationId: subscribeForumTopic
      parameters:
      - description: The ID of the forum topic.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopic'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Subscribe To Forum Topic
      tags:
      - Forum Topics
  /forum_topics/{id}/unsubscribe.json:
    post:
      operationId: unsubscribeForumTopic
      parameters:
      - description: The ID of the forum topic.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopic'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Unsubscribe From Forum Topic
      tags:
      - Forum Topics
  /forum_topics/mark_all_as_read.json:
    post:
      operationId: markAllForumTopicsAsRead
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/markAllForumTopicsAsRead_request'
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
      security:
      - basicAuth: []
      summary: Mark All Forum Topics As Read
      tags:
      - Forum Topics
  /help.json:
    get:
      description: Will error if no help pages exist.
      operationId: listHelpPages
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Help'
                type: array
          description: Success
      summary: List Help Pages
      tags:
      - Help Pages
    post:
      description: You must be Admin+.
      operationId: createHelpPage
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createHelpPage_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Help'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Help Page
      tags:
      - Help Pages
  /help/{id}.json:
    delete:
      description: You must be Admin+.
      operationId: deleteHelpPage
      parameters:
      - description: The ID of the help page.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete Help Page
      tags:
      - Help Pages
    get:
      operationId: getHelpPage
      parameters:
      - description: The ID or name of the help page.
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/getArtist_idOrName_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Help'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get Help Page
      tags:
      - Help Pages
    patch:
      description: You must be Admin+
      operationId: editHelpPage
      parameters:
      - description: The ID of the help page.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/editHelpPage_request'
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Edit Help Page
      tags:
      - Help Pages
  /ip_bans.json:
    get:
      description: "You must be Admin+. When no results are found, an object with\
        \ an `ip_bans` key is returned."
      operationId: listIPBans
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/ip_addr'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          type: string
        style: form
      - explode: true
        in: query
        name: "search[banner_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[banner_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[reason]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listIPBans_200_response'
          description: Success
      security:
      - basicAuth: []
      summary: List IP Bans
      tags:
      - IP Bans
    post:
      description: You must be Admin+.
      operationId: createIPBan
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createIPBan_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPBan'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create IP Ban
      tags:
      - IP Bans
  /ip_bans/{id}.json:
    delete:
      description: You must be Admin+.
      operationId: deleteIPBan
      parameters:
      - description: The ID of the ip ban.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete IP Ban
      tags:
      - IP Bans
  /iqdb_queries.json:
    get:
      operationId: queryIQDBGet
      parameters:
      - explode: true
        in: query
        name: "search[score_cutoff]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[url]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[post_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[hash]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/queryIQDBGet_200_response'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
      summary: Query IQDB
      tags:
      - IQDB
    post:
      operationId: queryIQDPost
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/queryIQDPost_request'
          application/json:
            schema:
              $ref: '#/components/schemas/queryIQDPost_request_1'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/queryIQDBGet_200_response'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
      summary: Query IQDB
      tags:
      - IQDB
  /mascots.json:
    get:
      description: "When no results are found, an object with an `mascots` key is\
        \ returned."
      operationId: searchMascots
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchMascots_200_response'
          description: Success
      summary: Search Mascots
      tags:
      - Mascots
    post:
      description: You must be Admin+.
      operationId: createMascot
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/createMascot_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mascot'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Mascot
      tags:
      - Mascots
  /mascots/{id}.json:
    delete:
      description: You must be Admin+.
      operationId: deleteMascot
      parameters:
      - description: The ID of the mascot.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete Mascot
      tags:
      - Mascots
    patch:
      description: You must be Admin+.
      operationId: editMascot
      parameters:
      - description: The ID of the mascot.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/editMascot_request'
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Edit Mascot
      tags:
      - Mascots
  /mod_actions.json:
    get:
      description: |
        Note that some mod actions are not in use anymore. Their entries exist for historical purposes only.<br>
        The current legacy actions are as follows:<br>
        * `created_positive_record`, `created_neutral_record`, `created_negative_record`
        * `created_flag_reason`, `edited_flag_reason`, `deleted_flag_reason`
        * `post_move_favorites`, `post_delete`, `post_undelete`, `post_destroy`, `post_rating_lock`, `post_unapprove`
        * `post_replacement_accept`, `post_replacement_reject`, `post_replacement_delete`
      operationId: searchModActions
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          type: string
        style: form
      - explode: true
        in: query
        name: "search[creator_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[creator_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[action]"
        required: false
        schema:
          $ref: '#/components/schemas/ModactionActions'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ModAction'
                type: array
          description: Success
      summary: Search Mod Actions
      tags:
      - Mod Actions
  /news_updates.json:
    get:
      description: "When no results are found, an object with an `news_updates` key\
        \ is returned."
      operationId: listNewsUpdates
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listNewsUpdates_200_response'
          description: Success
      summary: List News Updates
      tags:
      - News Updates
    post:
      description: You must be Admin+.
      operationId: createNewsUpdate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createNewsUpdate_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsUpdate'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create News Update
      tags:
      - News Updates
  /news_updates/{id}.json:
    delete:
      description: You must be Admin+.
      operationId: deleteNewsUpdate
      parameters:
      - description: The ID of the news update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete News Update
      tags:
      - News Updates
    patch:
      description: You must be Admin+
      operationId: editNewsUpdate
      parameters:
      - description: The ID of the news update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createNewsUpdate_request'
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Edit News Update
      tags:
      - News Updates
  /notes.json:
    get:
      description: "When no results are found, an object with an `notes` key is returned."
      operationId: searchNotes
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          type: string
        style: form
      - explode: true
        in: query
        name: "search[body_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[is_active]"
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: "search[post_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[post_tags_match]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[post_note_updater_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[post_note_updater_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[creator_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[creator_name]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchNotes_200_response'
          description: Success
      summary: Search Notes
      tags:
      - Notes
    post:
      operationId: createNote
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createNote_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createNote_201_response'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Create Note
      tags:
      - Notes
  /notes/{id}.json:
    delete:
      operationId: deleteNote
      parameters:
      - description: The ID of the note.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      summary: Delete Note
      tags:
      - Notes
    get:
      operationId: getNote
      parameters:
      - description: The ID of the note.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
          description: Success
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get Note
      tags:
      - Notes
    patch:
      operationId: editNote
      parameters:
      - description: The ID of the note.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/editNote_request'
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Edit Note
      tags:
      - Notes
  /notes/{id}/revert.json:
    post:
      operationId: revertNote
      parameters:
      - description: The ID of the note.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      - description: The version ID to revert to.
        explode: true
        in: query
        name: version_id
        required: true
        schema:
          type: number
        style: form
      responses:
        "204":
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/ExpectedError'
      security:
      - basicAuth: []
      summary: Revert Note
      tags:
      - Notes
  /note_versions.json:
    get:
      description: "When no results are found, an object with an `note_versions` key\
        \ is returned."
      operationId: searchNoteVersions
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/ip_addr'
      - description: The order of the results.
        explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          type: string
        style: form
      - explode: true
        in: query
        name: "search[updater_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[updater_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[post_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[note_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[is_active]"
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: "search[body_matches]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchNoteVersions_200_response'
          description: Success
      summary: Search Note Versions
      tags:
      - Note Versions
  /pools.json:
    get:
      operationId: searchPools
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/id'
      - explode: true
        in: query
        name: "search[order]"
        required: false
        schema:
          enum:
          - id_asc
          - id_desc
          - name
          - created_at
          - post_count
          type: string
        style: form
      - explode: true
        in: query
        name: "search[name_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[description_matches]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[creator_id]"
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: "search[creator_name]"
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: "search[category]"
        required: false
        schema:
          $ref: '#/components/schemas/PoolCategories'
        style: form
      - explode: true
        in: query
        name: "search[is_active]"
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Pool'
                type: array
          description: Success
      summary: Search Pools
      tags:
      - Pools
    post:
      operationId: createPool
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/createPool_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
          description: Success
        "403":
          $ref: '#/components/responses/AccessDenied'
        "422":
[...]
